/* Iniciar sesion */
#login .box {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login h2 {
    text-align: center;
    margin-bottom: 20px;
}

#login label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#login input[type="text"],
#login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#login button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#login button:hover {
    background-color: #0056b3;
}

#login p {
    text-align: center;
    margin-top: 20px;
}

#login p a {
    color: #007bff;
}

#login p a:hover {
    text-decoration: underline;
}

/* registrarse */
#register .box {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#register h2 {
    text-align: center;
    margin-bottom: 20px;
}

#register label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#register input[type="text"],
#register input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#register button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#register button:hover {
    background-color: #0056b3;
}

#register p {
    text-align: center;
    margin-top: 20px;
}

#register p a {
    color: #007bff;
}

#register p a:hover {
    text-decoration: underline;
}