body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Estilos para el header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

header h1 {
    text-align: center;
    flex-grow: 1; 
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    color: white;
}

header div {
    display: flex;
    gap: 10px;
}

header button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 400ms ease;
}

header button:hover {
    background-color: white;
    color: #0056b3;
}


/* 2. Estilos del formulario de registro */
section {
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

form h1 {
    text-align: center;
    color: black;
}

form div {
    margin-bottom: 15px;
    position: relative;
}

form i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
}

form input {
    width: 80%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 18px;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

/* 3. Estilos del formulario de inicio de sesión */
div {
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

div h1 {
    text-align: center;
    color: black;
}

div i {
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translateY(-80%);
    color: #888;
}

div input[type="text"],
div input[type="password"] {
    width: 80%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
}

div input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
    transition: all 400ms ease;
}

div input[type="submit"]:hover {
    background-color: white;
    color: #45a049;
}
